*{
  margin: 0;
  padding: 0;
}
body{
  width:100%;
   background-color:#f5f5dc; 
}

.top{
  display: flex;
  padding: 20px;
  justify-content: center;
  margin-top: 50px;
  position: relative;
}
.col1{
  margin-top: 40px;
  margin-right: 20px;
}
.col2{
margin-left: 90px;
}
.text{
  position: absolute;
  font-size: 55px;
  color: #cc5533;
  top: 650px;
  right: 700px;
  z-index: 1;
}
.text-2{

  position: absolute;
  word-spacing: 50px;
  font-size: 55px;
  top: 270px;
  left: 540px;
   color: #cc5533;
   z-index: 1;
}
.bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  margin-left: 200px;
}
.icon{
  text-align: center; 
  margin-top: 20px;
  font-size: 55px;
  color: #cc5533;
}
.col1:hover{
  transform: translateY(-20px);
}
.col2:hover{
  transform: translateY(-20px);
}
.text{
    opacity: 1;
    transition: opacity 0.5s ease;
}

.text:hover {
    opacity: 0.5; 
}
.text-2{
  opacity: 1;
  transition: opacity 0.5s ease;
}

.text-2:hover {
  opacity: 0.5; 
}
.bottom{
  max-width: 50%;
}
@media only screen and (max-width: 1024px) {
  .top{
    display: flex;
    padding: 20px;
    justify-content: center;
    margin-top: 50px;
    position: relative;
  }
  .img1{
    width: 300px;
    height: 420px;
    margin-right: 20px;
  }
  .img2{
    width:300px;
    height: 500px;
    margin-left: 20px;
  }
  .img3{
    width: 500px;
    height: 200px;
    margin-top: 5px;
    left: 50px;
    margin-left: -29px;
  }
  .col2{
    margin-left:10px;
  }
  .text{
    position: absolute;
    text-align: justify;
    top: 480px;
    right: 559px;
  }
  .text-2{
    position: absolute;
    top: 65px;
    left: 375px;
  }
}

@media screen and (max-width: 804px) {

  .text-2{
    position: absolute;
    top: 0px;
    left: 100px;
  }
  .text{
    position: absolute;
    right: 400px;
    
  }
  
}
@media screen and (max-width: 635px) {

  .text-2{
    position: absolute;
    top: 0px;
    left: 10px;
  }
 
}
@media screen and (max-width: 483px) {
   body{
     margin:0px;
   }
  .top{
    display: flex;
    flex-direction: column;
    position: relative;
    align-content: ;
    box-sizing: border-box;

  }
  .text-2{
    position: absolute;
    top: 0px;
    left: 40px;
    word-spacing: 0px;
    font-size: 40px;
    margin-top: 0px; 
  }
  .text{
    position: absolute;
    top:0px;
    right: 5px;
    font-size:40px ;
  }
  .icon{
    font-size: 40px;
    margin-left: 280px;
  }
 .img2{
   margin-top: 25px;
   width: 480px;
   margin-left: -30px;
 }
 .img1{
   margin-left: -20px;
   width: 480px;
}
  .bottom{
    margin-top: 0%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
}